@media only screen and (min-width: 38rem) {

header, main, nav, footer {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    grid-template-columns: 26px auto;
}

.hamburger {
    display: none;
}


}