:root {
  --primary-color: #D98C4C;
  --secondary-color: #4C312C;
  --brown-color: (93, 49, 5);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
}

.logo {
  width: 100%;
  height: 100px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 8px rgb(0, 0, 0.1);
  backdrop-filter: blur(10px);
  z-index: 999;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  max-width: 1600px;
}

.navbar-container .navbar-menu {
  display: flex;
  text-align: center;
  gap: 2rem;
  list-style: none;
}

.navbar-container .navbar-menu li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 3px 2px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.7s ease;
  white-space: nowrap;

}

.navbar-container .navbar-menu li a:hover {
  color: white;
  background: rgba(0, 0, 0, 0.289);

}

.navbar-toggle {
  display: none;
  background: transparent;
  color: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
}

section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* hero section _______________________________________________ */
.hero-container {
  position: relative;
  width: 100%;
  height: 50vh;
  /* adjust as needed */
  overflow: hidden;
}

/* Text overlay */
.hero-content {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: white;
  z-index: 2;
  max-width: 1600px;
  padding: 0px;
  width: 90%;
  margin-left: 1rem;
}

/* overlay for readability */
.hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-content h3 {
  font-size: 1rem;
  margin: 0;
}

.hero-content p {
  font-size: 20px;
  max-width: 70%;
}

.learn {
  margin: 20px 20px 20px 0;
  padding: 12px 24px;
  border: none;
  background: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.community {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 600;
}

.hero-content button:hover {
  background: var(--brown-color);
}

.community:hover {
  background-color: var(--brown-color);
}


/* about Ussection _______________________________________________ */
.details {
  background: rgba(250, 235, 215, 0.505);
  padding: 4rem 2rem;
  /* box-shadow: 0 5px 8px rgba(0, 0, 0, 0.29);*/
}

.details h4 {
  border-left: 5px solid brown;
  padding: 2px 10px;
  margin-bottom: 10px;
}

.details h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.details p {
  font-size: 20px;
}

.about-btn {
  padding: .6rem 1rem;
  font-size: 16px;
  margin: 1.5rem 0;
  background-color: rgb(93, 49, 5);
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}

.stats {
  display: grid;
}

.card {
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.29);
  margin: 1.5rem 3rem;
  padding: 1rem;
  display: grid;
  border-radius: 10px;
}

.card img {
  width: 50%;
  margin: auto;
}


