:root {
  --primary-color: #D98C4C;
  --secondary-color: #4C312C;
  --secondarylight-color: #bca8a4;
  --brown-color: rgb(93, 49, 5);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
}

.logo {
  width: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  position: sticky;
  top: 0;
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 8px rgb(0, 0, 0.1);
  backdrop-filter: blur(10px);
  z-index: 999;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  max-width: 1600px;
}

.navbar-container .navbar-menu {
  display: flex;
  text-align: center;
  gap: 2rem;
  list-style: none;
}

.navbar-container .navbar-menu li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 3px 2px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.7s ease;
  white-space: nowrap;

}

.navbar-container .navbar-menu li a:hover {
  color: white;
  background: rgba(0, 0, 0, 0.289);

}

.navbar-toggle {
  display: none;
  background: transparent;
  color: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
}

section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* hero section ________________________________________________________________________________ */
.hero-container {
  position: relative;
  width: 100%;
  height: 50vh;
  /* adjust as needed */
  overflow: hidden;
}

/* Text overlay */
.hero-content {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: white;
  z-index: 2;
  max-width: 1600px;
  padding: 0px;
  width: 90%;
  margin-left: 1rem;
}

/* overlay for readability */
.hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-content h3 {
  font-size: 1rem;
  margin: 0;
}

.hero-content p {
  font-size: 20px;
  max-width: 70%;
}

.learn {
  margin: 20px 20px 20px 0;
  padding: 12px 24px;
  border: none;
  background: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.community {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 600;
}

.hero-content button:hover {
  background: var(--brown-color);
}

.community:hover {
  background-color: var(--brown-color);
}


/* about Ussection ________________________________________________________________________________________________________ */
.details,
.culture {
  background: rgba(250, 235, 215, 0.505);
  padding: 4rem 2rem;
  /* box-shadow: 0 5px 8px rgba(0, 0, 0, 0.29);*/
}

.sub-head{
  border-left: 5px solid brown;
  padding: 2px 10px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
}

.details h2,
.cus h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.details p,
.cus p,
.culture p {
  font-size: 14.5px;
}

.map {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.about-btn {
  padding: .5rem 1rem;
  font-size: 16px;
  background-color: rgb(93, 49, 5);
  border: none;
  text-decoration: none;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}


/* Culture section ________________________________________________________________________________________________ */
.culture {
  background-color: white;
  padding: 2rem;
  /* box-shadow: 0 5px 8px rgba(0, 0, 0, 0.29);*/
}

.slider {
  display: flex;
  gap: 2.5rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 20px;
  margin-bottom: 2rem;
}

/*
.slider::-webkit-scrollbar{
  display: none;
}
*/


.card {
  flex: 0 0 100%;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.29);
  padding: 1.5rem;
  display: grid;
  max-width: 400px;
}

.card img {
  width: 100%;
  margin: auto;
}

/* leaders section _____________________________________________________________________________________ */


.card-king {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.29);
  padding: 1rem;
}

.card-king a{
  margin-top: 1.5rem;
}



.title {
  margin-bottom: 15px;
}

.title p{
  font-size: 12px;
  font-weight: 500;
  margin: 10px 0 3px 0;
}

/* project section __________________________________________________________________________________ */

.card-project {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.29);
  padding: 1rem;
}

.cus {
  padding: 4rem 2rem;
}

.topic p {
  font-size: 16px;
  font-weight: 700;
  padding: 8px 5px 8px 0px;
}

.project-btn {
  padding: .5rem 1rem;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  margin: 1.2rem 0;
  background-color: rgb(176, 101, 27);
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 3px;
}

.project-btn-last {
  padding: .6rem 1rem;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.29);
  font-size: 16px;
  margin: 3rem 0 0rem 0;
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(121, 77, 16);
  font-weight: 700;
  border-radius: 3px;

}



/* __footer ___________________________________________________________________________________________________*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--secondary-color);
  padding: 1rem;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.social img {
  width: 24px;
  height: 24px;
  display: block;
}

footer p {
  font-size: 14px;
  margin-top: 0.5rem;
  color: #ffff;
}

.copyright {
  margin-bottom: 2rem;
}


/* _________________________________________ABOUT US PAge _______________________________*/

.contact-info {
  margin: 1.5rem ;
  border: none;
  background: var(--secondarylight-color);
}

.cinfo {
  padding: 1rem 0rem 1rem 1rem;
}

.cinfo p{
  margin-top: 8px;
  padding-left: 15px;
}

.subform fieldset {
  border: none;
}

.subform h1 {
  padding: 1.5rem 0rem 2px 1rem;
  font-size: 18px;
}

.subform label {
  display: block;
  padding: .8rem 1rem;
  font-size: 15px;
  font-weight: 500;
}

.subform [type="text"],
[type="email"]
{
  display: block;
  padding: .75rem;
  margin-top: 2px;
  width: 100%;
  max-width: 400px;
}